<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.jeef.solar</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Jeff Stein</string>
	<key>description</key>
	<string>Solar Panel Query</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Enphase</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>https://github.com/jeeftor/Enphase</string>
</dict>
</plist>
